@font-face {
    font-family: 'Orbitron';
    src: url('client-asset://font.ttf');
}

#exitClient { border-color: #0a0 !important; }
#exitClient:hover { border-color: #fff !important; }

body.kpdPingAddon .pListPing {
    visibility: hidden;
    height: 0;
    width: 30%;
}

body.clientStyle.kpdPingAddon .pListPing::before { font-family: Orbitron !important; }

body.kpdPingAddon .pListPing::before {
    visibility: visible;
    font-family: gamefont;
    content: attr(title);
    font-size: 20px;
    margin: 2px 10px;
    vertical-align: top;
}

body.adBlock #aHider {
    display: none !important;
}

body.adBlock .endAHolder {
    display: none !important;
}

body.adBlock #adCon {
    display: none !important;
}

#setHed_dev, #setBod_dev, #setBod_dev .settName {
    display: block !important;
}

.clientSett *:last-child {
    margin-left: auto !important;    
}

.settingsBtn {
    width: initial;
}

#chatCategorySelector {
    height: 40px;
    background: rgba(0,0,0,.4);
    border-radius: 5px;
    margin-bottom: 6px;
    pointer-events: all;
    display: flex;
    width: fit-content;
}

#chatCategorySelector button {
    background: none;
    border: none;
    outline: none;
    padding: 6px;
    color: #fff;
    transition: .3s;
    border: 2px solid transparent;
    cursor: pointer;
}

#chatCategorySelector button:hover {
    border-color: #fff;
}

#chatCategorySelector button:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#chatCategorySelector button:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#chatList {
    direction: ltr;
}

.twitchMsg { display: inline-flex; width: 100%; }

.twitchMsg * {
    vertical-align: middle;
}

.twitchMsg img {
    margin-right: 0.3rem;
    height: 18px !important;
}

.twitchMsg .emote {
    height: 28px !important;
}

#chatList { display: none !important; }
#chatList_custom {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999999;
    border-radius: 5px;
    background-color: rgba(0,0,0,.4);
    pointer-events: all;
    opacity: 1;
    max-height: 250px;
}

#chatList_custom::-webkit-scrollbar {
    width: 6px;
}

#chatList_custom::-webkit-scrollbar-track {
    background: none;
    box-shadow: none;
    border-radius: unset;
}

#chatList_custom::-webkit-scrollbar-thumb {
    border-radius: 2px;
}